
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-6">
                <ul class="socials">
                    <li><a href="#"><img src="/Content/Template/images/elements/socials/facebook.png" alt="facebook" />Facebook</a></li>
                    <li><a href="#"><img src="/Content/Template/images/elements/socials/twitter.png" alt="twitter" />Twitter</a></li>
                    <li><a href="#"><img src="/Content/Template/images/elements/socials/youtube.png" alt="youtube" />Youtube</a></li>
                    <li><a href="#"><img src="/Content/Template/images/elements/socials/googleplus.png" alt="google" />Google+</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul>
                    <li><a href="#">Register now</a></li>
                    <li><a href="#">Subscribe for newsletter</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Ask us</a></li>
                    <li><a href="#">Our partners</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Size guide</a></li>
                    <li><a href="#">Order tracking</a></li>
                    <li><a href="#">Order history</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Terms & conditions</a></li>
                    <li><a href="#">Security & privacy</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul class="menu-item">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Bolg</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Bag</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="subscription">
                    <div class="subscription-title">Newsletter subscribe</div>
                    <form class="subscription" id="newsletter" method="post">
                        <input type="text" name="newsletter-name" placeholder="Name" class="subscription-line">
                        <input type="text" name="newsletter-email" placeholder="E-mail" class="subscription-line">
                        <input type="submit" value="send" class="button-5">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mini-footer">
            <div class="row">
                <div class="col-md-6">
                   Tüm Hakları Saklıdır @DateTime.Now.Year Tarımcıyız &nbsp;  &nbsp;  &nbsp; Designed by <a href="http://www.teslathemes.com">Teslathemes</a>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <img src="/Content/Template/images/elements/payment.png" alt="payment systems" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
