@model IEnumerable<tarimciyiz.Models.Kategori>

<div class="col-md-3">
    <div class="row">
        <div class="col-md-12 col-xs-6">
            <div class="products-dropdown open-dropdown">
                <span><i class="icon-515" title="515"></i>Kategori</span>
                <ul>
                   
                    @foreach (var item in Model )
                    {
                        <li><a href="/Home/Urunler/@item.kategoriID">@item.kategoriAdi</a></li>
                    }
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-md-12 col-xs-6">
            
        </div>
        
        
    </div>
</div>

